<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
        filename='bootstrap.css')}}">
</head>
<div class='container'>
    <br>
    <div  class="row top-menu" >
        <div class='col-md-1' style="background-color:#3b5998;">
            <a href="{{url_for('restaurant')}}">
            <h3 style="color:#ffffff;">Home</h3>
        </div>
        <div class='col-md-10'></div>
        <div class="col-md-1 text-right" style="background-color:#3b5998;">
            <a href="{{url_for('gdisconnect')}}">
                <h3 style="color:#ffffff;">Logout </h3>
            </a>
        </div>
    </div>
    <br><br>
    <header class='row'>
        <div class='col-md-7 text-left text-uppercase' style="background-color:#3b5998;">
            <h2 style="color:#ffffff;">{{restaurant.name}}</h2>
        </div>
        <div class='c0l-md-3' style="background-color:#3b5998;">
            <img src="{{ creator.picture}}" width="65" height="65" align='right'><br>
            <div class='text-right'>
                <h3 style="color:#ffffff;">{{creator.name  }}</h3>
            </div>
        </div>
    </header>
    <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <a href="{{url_for('newMenuItem',restaurant_id=restaurant.id)}}">
                <h4>Add new Menu item</h4>
            </a>
        </div>
        <div class='col-md-3'>
            <a href="{{url_for('editRestaurant',restaurant_id=restaurant.id)}}">
                <h4>Edit this Restaurant</h4>
            </a>
        </div>
        <div class='col-md-3'>
            <a href="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}">
                <h4>Delete this Restaurant</h4>
            </a>
        </div>
    </div>
    {% if items !=[] %}
    <div class="row">
        <div class="col-md-3">
            <h2>Appetizers</h2>
            {% for i in items %}
            {% if i.course == 'Appetizer' %}
            <div class="menu-item">
                <h3>{{i.name}}</h3>
                <p>{{i.description}}</p>
                <p class="menu-price">{{i.price}}</p>
                <p><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
                    <a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h2>Entrees</h2>
            {% for i in items %}
            {% if i.course == 'Entree' %}
            <div class="menu-item">
                <h3>{{i.name}}</h3>
                <p>{{i.description}}</p>
                <p class="menu-price">{{i.price}}</p>
                <p><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
                    <a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h2>Desserts</h2>
            {% for i in items %}
            {% if i.course == 'Dessert' %}
            <div class="menu-item">
                <h3>{{i.name}}</h3>
                <p>{{i.description}}</p>
                <p class="menu-price">{{i.price}}</p>
                <p><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
                    <a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h2>Beverages</h2>
            {% for i in items %}
            {% if i.course == 'Beverage' %}
            <div class="menu-item">
                <h3>{{i.name}}</h3>
                <p>{{i.description}}</p>
                <p class="menu-price">{{i.price}}</p>
                <p><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
                    <a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>